<div class="panel panel-primary">
    <div class="panel-heading">CHANGE PASSWORD</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    <div>Username:</div>
                    <input ng-model="form.username" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    <div>Password:</div>
                    <input ng-model="form.password" type="password" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    <div>Confirm Password:</div>
                    <input ng-model="form.confirmPassword" type="password" class="form-control">
                </div>
            </div>
        </div> 
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-success" ng-click="changePas()">Change Pass</button>
    </div>
</div>