<!-- A grey horizontal navbar that becomes vertical on small screens -->
<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-inverse" style="font-variant: small-caps;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <th:block th:if="${#request.remoteUser}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/security/logoff}">Sign Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order/list}">Your Orders</a>
                    </li>
                    <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}" class="nav-item">
                        <a class="nav-link" th:href="@{/admin/home/index}">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile/edit}">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rest/accounts/register}">Register</a>
                    </li>
                    <!-- <li class="nav-item">Language
                        <ul>
                            <li>English</li>
                            <li>Vietnamese</li>
                        </ul>
                    </li> -->
                </th:block>

                <th:block th:unless="${#request.remoteUser}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/security/login/form}">Sign In</a>
                    </li>
                </th:block>
            </ul>
    
            <ul th:if=${#request.remoteUser} class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome [[${#request.remoteUser}]]</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
